@import "tailwindcss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  input,
  button,
  select {
    outline: none;
    padding: 0px 1rem;
    border: none;
  }
 
}
:root {
  font-size: 62.5%;
}

.wrapper {
  width: 60rem;
  height: 60rem;
  background-color: rgb(37, 37, 37);
  margin: 0 auto;
  margin-top: 2rem;
  border-radius: 2rem;
  position: relative;
  overflow-y: scroll;
}

.wrapper::-webkit-scrollbar {
  width: 1rem;
}
.wrapper::-webkit-scrollbar-thumb {
  background: whitesmoke;
  border-radius: 4rem;
}
/* Styling the home screen */

.homeScreen {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  padding-top: 0;
  width: 100%;
  transition: all 0.1s ease-in-out;
  position: relative;
}
header {
  width: 100%;
  height: 7rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
}
header h1 {
  color: white;
  font-size: 4rem;
}
.createFirstNote {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: 3rem;
}

.addNotes {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
button {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}
.hover {
  cursor: pointer;
}

/* Styling the note area */

.noteArea {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-inline: 2rem;
  transition: all 0.1s ease-in-out;
}

#title {
  background-color: rgba(240, 248, 255, 0);
  font-size: 3rem;
  color: white;
  margin-top: 1rem;
  width: 100%
}

#note {
  width: 100%;
  background-color: rgba(240, 248, 255, 0);
  border: none;
  margin-top: 3rem;
  outline: none;
  color: white;
  font-size: 2rem;
  /* resize: none; */
  height: 30rem;
  max-height: 30rem;
}

.icons {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 1rem;
}

.icon{
  padding: initial
}

.newNote {
  overflow-y: scroll;
  width: 100%;
  height: 7rem;
  background-color: rgb(253, 153, 255);
  padding-inline: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 2rem;
  margin-top: 2rem;
}

.newNote::-webkit-scrollbar {
  display: none;
}
.newNote h2 {
  color: black;
  font-size: 3rem;
}

.edit {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  column-gap: 2rem;
  transition: all 0.1s ease-in-out;
  height: fit-content;
}
.edit svg:hover {
  cursor: pointer;
}


form{
  position: relative
}

.saveBtn {
  background-color: rgb(110, 110, 110);
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1.5rem;
  width: fit-content;
}

.saveBtnDiv{
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 1rem;
}

.addButton {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center
}


.button{
  position: absolute;
  bottom: 4rem;
  right: 45rem;
  color: white;
  height: 5rem;
  width: 5rem;
  padding: 1rem;
  border-radius: 50%;
  background-color: rgb(110, 110, 110);
}

.noteBox {
  display: flex;
  justify-content: space-between;
}

.note{
  width: 80%;
}

.search{
  background-color: white;
  border-radius: 0.4rem;

}

.searchContainer{
  width: 60rem;
  background-color:rgb(37, 37, 37);
  margin: 0 auto;
  height: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  margin-top: 2rem;
  border-radius: 2rem
}
.searchContainer input{
  background-color: white;
  width: 40rem;
  height: 4rem;
  border-radius: 1rem;
}
.searchedNotes{
  width: 60rem;
  
}
.inputBox{
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
  column-gap: 3rem;
}
.inputBox .icon{
  margin-right: 2rem;
}

.readNote{
  width: 50rem;
  height: 50rem;
  margin: 0 auto;
  background-color: rgb(37, 37, 37);
  margin-top: 2rem;
  color: white;
  padding-inline: 6rem;
  padding-block: 3rem;
  border-radius: 2rem
}

.title{
  width: 100%;
  border-bottom: solid 1px white;

}
.title h1{
  font-size: 4rem;
  text-align: center;
}

.body{
  width: 100%;
  margin-top: 2rem
}

.body h2{
  font-size: 2.5rem;
}

.image{
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
}

.colors div:hover{
  border: 2px solid white
}

.active{
  border: 2px solid white
}


/* Media Queries */

@media only screen and (width <= 902px) and (width >= 200px){
  .newWrapper{
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    border-radius: 0rem;
  }
  
  .inputBox{
    display: flex;
    column-gap: 1rem;
    padding-right: 3rem
  }
  .icon{
    margin: none
  }

  .button{
    right: 2rem
  }

  .noteArea{
    height: 100vh;
    width: 100%;
    margin-top: initial;
    border-radius: initial
  }
  .wrapper::-webkit-scrollbar {
    width: initial
  }
  .wrapper::-webkit-scrollbar-thumb {
    background: none;
    border-radius: none;
  }

  .searchContainer{
    overflow-x: hidden;
    padding-inline: 1rem;
  }
  .newWrapper{
    width: 100vw;
    height: 100vh;
  }
  .noteBox{
    justify-content: center;
    column-gap: 4.4rem
  }

  .searchedNote{
    width: 50%;
    
  }
  .searchedNotes{
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
  }

  .readNote{
    width: 100vw;
    height: 100vh;
    padding-inline: 2rem;
    padding-block: 2rem;
    border-radius: initial;
    margin-top: 0;
  }
  .readNote .icons{
    margin-left: -1rem;
  }
}

@media only screen and (height <= 900px) and (height >= 800px) {
  .saveBtnDiv{
    margin-top: 27rem
  }
}
@media only screen and (height <= 800px) and (height >=700px){
  .saveBtnDiv{
    margin-top: 20rem
  }
}
@media only screen and (height <= 700px) and (height >= 600px){
  .saveBtnDiv{
    margin-top: 12rem
  }
}
@media only screen and (height >= 900px){
  .saveBtnDiv{
    margin-top: 35rem
  }
}

/* things to do
get good styling 
save to local stroage
give coloe */